<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victor.taller5_eam_sqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".vista.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.MainActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".vista.RegistrarMarcarActivity" android:parentActivityName=".vista.MainActivity" android:label="Registrar Marca"/>
        <activity android:name=".vista.RegistrarUsuarioActivity" android:parentActivityName=".vista.LoginActivity" android:label="Registrar usuario"/>
        <activity android:name=".vista.ListaInventarioActivity" android:parentActivityName=".vista.MainActivity" android:label="Listado del inventario"/>
        <activity android:name=".vista.RegistrarInventarioActivity" android:parentActivityName=".vista.MainActivity" android:label="Registro de inventario"></activity>
    </application>

</manifest>